
.loginPage {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.leftSection {
    display: flex;
    min-height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
}

@media (min-width: 1024px) {
    .leftSection{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 640px) { 
    .topPage{
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
        max-width: 24rem;
    }
}



.topPage h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

.container {
    margin-top: 10px; 
}

@media (min-width: 640px) { 
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
        max-width: 24rem; 
    }  
}

.forgotPassword {
  margin: 15px;
  font-size: 14px; 
  line-height: 20px; 
  text-align: right;
}

.forgotPassword a {
    font-weight: 600;
    color: #292929;
    text-decoration: none;
}

.forgotPassword a:hover {
    color: #464646;
}

.betweenContainer {
    margin: 0;
}

.itemOr {
    display: flex;
    align-items: center;
}

.itemOr hr {
    display: flex;
    flex: 1;
    border-top: 1px solid rgb(209 213 219);
}

.itemOr p {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(107 114 128);
}

.registerGoogle {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 0;
  border: 2px solid #a1a1a1;
  border-radius: 12px;
  text-decoration: none;
}
.registerGoogle:hover {
    background-color: #e5e7eb;
    color: rgb(75 85 99);
}

.registerGoogle img{
  width: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.registerGoogle p {
    font-weight: 600;
    color: rgb(55 65 81);
}

.registerGoogle p:hover {
    color: rgb(75 85 99);
}

.finalContainer {
    margin-top: 32px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: rgb(107 114 128);
}

.register {
    color: #000000;
    text-decoration: none;
}

.register:hover {
    color: #2e2e2e;
} 

.rightSection {
    width: 100%; 
  max-width: 768px; 
  background-color: #d1d1d1; 
}
@media (min-width: 640px) { 
    .rightSection{
        width: 2/3;
    }
}

.rightSection img {
    width: 100%;
    height: auto;
} 


.SubmitButton {
    display: flex;
    width: 100%;
    height: 2.75rem; /* 11 x 0.25rem */
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.75rem; /* rounded-xl */
    background-color: #292929;
    padding: 0.375rem 0.75rem; /* py-1.5 px-3 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow-sm */
    transition: background-color 0.3s ease;
}
  
.SubmitButton:hover {
    background-color: #464646; /* hover:bg-primary-400 */
}

.SubmitButton:focus-visible {
    outline: 2px solid #292929;
    outline-offset: 2px;
}

.inputForm {
    margin-top: 8px;
}
.inputForm  input, .inputForm select{
    display: block;
    width: 100%;
    height: 44px;
    border: none;
    background-color: rgb(243 244 246);;
    border-radius: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-ring-inset: inset;
    color: #111827;
    padding-left: 15px;
    margin-bottom: 10px;
}
.inputForm input::placeholder {
    color: rgb(156 163 175);
}
  
.inputForm input:focus {
    --tw-ring-inset: inset;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

@media (min-width: 640px) {
    .inputForm {
        font-size: 0.875rem; 
        line-height: 1.5rem;
    }
}