.SubmitButton {
    display: flex;
    width: 100%;
    height: 2.75rem; /* 11 x 0.25rem */
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.75rem; /* rounded-xl */
    background-color: #292929;
    padding: 0.375rem 0.75rem; /* py-1.5 px-3 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow-sm */
    transition: background-color 0.3s ease;
}
  
.SubmitButton:hover {
    background-color: #464646; /* hover:bg-primary-400 */
}

.SubmitButton:focus-visible {
    outline: 2px solid #292929;
    outline-offset: 2px;
}
