.productContainer {
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.productInfo {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.productImage {
  width: 40%; 
  object-fit: cover; 
  border: 1px solid #ddd;
  border-radius: 8px;
}

.details {
  flex: 1;
}

.productName {
  font-size: 24px;
  margin-bottom: 10px;
}

.productBrand {
  font-size: 18px;
  color: #353535;
  margin-bottom: 10px;
}
.productType {
  font-size: 18px;
  color: #353535;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 20px;
  color: #e74c3c;
  margin-bottom: 15px;
}

.addToCartButton {
  padding: 10px 20px;
  background-color: #292929;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.addToCartButton:hover {
  background-color: #464646;
}

.tabContainer {
  display: flex;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tabButton {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.tabButton:hover {
  background-color: #f1f1f1;
}

.activeTab {
  border-bottom: 3px solid #555;
  font-weight: bold;
  background-color: white;
}

.tabContent {
  height: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tab h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
